# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#xcode config
*.xcodeproj
*.xcodeworkspace
xcuserdata
*.pbxproj
/CMakeCache.txt
*.check_cache
*.cmake
*.log
/CMakeFiles
*.bin
*.make
*.ts
/Makefile
/bin
/.idea/dictionaries/*.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/firefly.iml
/firefly.cbp
*.xml
/build

*.json
